@import "../../vars.css";

.container {
  color: var(--color-primary);
  margin-top: 10%;
  background-color: var(--color-secondary);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 58px 10%;
  gap: 10px;
  border-radius: 4px;
}

.contactSection {

  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 100px;
  max-height: 200px;
}

.text {

  text-align: left;
  flex: 1;
}

.text h2 {
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 2px;
  margin-bottom: 20px;
  color: var(--color-text);
}

.text p {
  font-size: 22px;
  font-weight: 400;
  letter-spacing: 1px;
  color: var(--color-text);
}

.links {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style: none;
  gap: 10px; /* Adjusted for spacing */
  max-height: 200px;
}

.link {
  display: flex;
  align-items: center;
  gap: 10px; /* Adjusted for spacing */
}

.link img {
  width: 25px; /* Adjusted for fit */
  height: 25px; /* Adjusted for fit */
}

.link a, .link span {
  color: var(--color-text);
  text-decoration: none;
  font-size: 16px; /* Adjusted for fit */
  font-weight: 400;
  letter-spacing: 1px;
}

.copyRight {
  text-align: center;
  margin-top: 30px;
  width: 100%;
}

.copyRight p {
  margin-top: 20px;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1px;
  color: var(--color-text);
}

@media screen and (max-width: 830px) {
  .container {
    padding: 40px 10%;
  }

  .contactSection {
    flex-direction: column;
    align-items: center;
    max-height: none;
  }

  .text {
    text-align: center;
  }

  .links {
    align-items: center;
  }
}


@media screen and (max-width: 480px) {
    .container {
      padding: 40px 5%; /* Adjusted padding for smaller screens */
    }
  
    .contactSection {
      flex-direction: column;
      align-items: center;
      margin-left: 0; /* Remove left margin */
      max-height: none;
    }
  
    .text {
      text-align: center;
      margin-bottom: 20px; /* Adjusted margin for spacing */
    }
  
    .links {
      align-items: center;
      margin-top: 20px; /* Adjusted margin for spacing */
    }
  
    .link {
      gap: 5px; /* Adjusted for smaller spacing */
    }
  
    .link img {
      width: 20px; /* Adjusted for fit */
      height: 20px; /* Adjusted for fit */
    }
  
    .link a, .link span {
      font-size: 14px; /* Adjusted for fit */
    }
    
}






